[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=centos
Group=nginx
WorkingDirectory=/home/centos/webapp/WebProject
ExecStart=/home/centos/webapp/WebProject/djangoEnv/bin/gunicorn --workers 3 --bind unix:/home/centos/webapp/WebProject.sock WebProject.wsgi:application

[Install]
WantedBy=multi-user.target